<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bplte.core.api.domain.file.mapper.FileMapper">
    <insert id="insertFileList" parameterType="java.util.List">
        INSERT INTO TBL_FILE ( /* org.bplte.core.api.domain.file.mapper.FileMapper.insertFileList */
              ORIGINAL_NAME
            , STORED_NAME
            , STORED_PATH
            , EXTENSION
            , FILE_SIZE
            , REF_TYPE
            , REF_ID
            , SORT_ORDER
            , ROLE_TYPE
            , DEL_YN
            , REG_DT
            , RGTR_ID
            , MDFCN_DT
            , MDFR_ID
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                  #{item.originalName}
                , #{item.storedName}
                , #{item.storedPath}
                , #{item.extension}
                , #{item.fileSize}
                , #{item.refType.code}
                , #{item.refId}
                , #{item.sortOrder}
                , #{item.roleType.code}
                , 'N'
                , NOW()
                , #{item.rgtrId}
                , NOW()
                , #{item.mdfrId}
            )
        </foreach>
    </insert>

    <update id="deleteFileList" parameterType="org.bplte.core.api.domain.file.dto.request.DeleteFileListInput">
        UPDATE TBL_FILE /* org.bplte.core.api.domain.file.mapper.FileMapper.deleteFileList */
        SET DEL_YN = 'Y'
          , MDFCN_DT = NOW()
          , MDFR_ID = #{mdfrId}
        WHERE REF_TYPE = #{refType.code}
          AND REF_ID = #{refId}
          <if test="fileIdList != null and fileIdList.size() > 0">
              AND FILE_ID IN
              <foreach collection="fileIdList" item="fileId" open="(" separator="," close=")">
                  #{fileId}
              </foreach>
          </if>
    </update>

    <select id="selectFileList"
            parameterType="org.bplte.core.api.domain.file.dto.request.FileListRequest"
            resultType="org.bplte.core.api.domain.file.entity.FileEntity">
        SELECT /* org.bplte.core.api.domain.file.mapper.FileMapper.selectFileList */
              FILE_ID        AS fileId
            , ORIGINAL_NAME  AS originalName
            , STORED_NAME    AS storedName
            , STORED_PATH    AS storedPath
            , EXTENSION      AS extension
            , FILE_SIZE      AS fileSize
            , REF_TYPE       AS refType
            , REF_ID         AS refId
            , SORT_ORDER     AS sortOrder
            , ROLE_TYPE      AS roleType
            , DEL_YN         AS delYn
            , REG_DT         AS regDt
            , RGTR_ID        AS rgtrId
            , MDFCN_DT       AS mdfcnDt
            , MDFR_ID        AS mdfrId
        FROM TBL_FILE
        WHERE DEL_YN = 'N'
        <if test="refType != null">
            AND REF_TYPE = #{refType.code}
        </if>
        <if test="refId != null and refId != ''">
            AND REF_ID = #{refId}
        </if>
        <if test="roleType != null">
            AND ROLE_TYPE = #{roleType.code}
        </if>
        ORDER BY SORT_ORDER ASC
    </select>

    <update id="updateFileSortOrder" parameterType="org.bplte.core.api.domain.file.entity.FileEntity">
        UPDATE TBL_FILE /* org.bplte.core.api.domain.file.mapper.FileMapper.updateFileSortOrder */
        SET SORT_ORDER = #{sortOrder}
          , MDFCN_DT = NOW()
          , MDFR_ID = #{mdfrId}
        WHERE FILE_ID = #{fileId}
          AND DEL_YN = 'N'
    </update>
</mapper>