<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bplte.core.api.domain.auth.mapper.AuthMapper">
    <insert id="userInsert" parameterType="org.bplte.core.api.domain.user.entity.UserEntity">
        INSERT INTO TBL_USER (
              USER_ID
            , USER_NAME
            , EMAIL
            , SALT
            , PASSWORD
            , DEL_YN
            , REG_DT
            , RGTR_ID
            , MDFCN_DT
            , MDFR_ID
        ) VALUES (
              #{userId}
            , #{userName}
            , #{email}
            , #{salt}
            , #{password}
            , 'N'
            , NOW()
            , #{rgtrId}
            , NOW()
            , #{mdfrId}
        )
    </insert>
</mapper>